@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body, html {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  padding: 0;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* #region HEADER */
.header{
  max-width: 100%;
  margin: auto;
}

.headerLogo{
  position: absolute;
  top: 12%;
  text-align: center;
}

.headerNav{
  position: relative;;
  margin-bottom: 20px;
  padding: 0 50px 0 50px;
}

.headerNavUnorderedList{
  justify-content: flex-end;
  font-size: 1rem;
  margin: 0;
}

.headerNavList, .headerNavSignUp{
  padding: 30px;
  text-align: center;
  border-top: 3px transparent solid;
}

.headerNavLogLink{
  font-weight: 800;
  color: #0065FC;
}

.headerNavList:hover, .headerNavSignUp:hover{
  border-top: 3px #0065FC solid;
  color: #0065FC;
}
/*#endregion*/

/* #region HEADER RESPONSIVE*/
@media screen and (max-width: 992px)
{ 
  .headerNav{
    padding: 0;
  }

  .headerNavUnorderedList{
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  
  .headerNavList, .headerNavSignUp{
  display: block;
  padding: 0;
  padding-bottom: 15px;
  border-bottom: 3px transparent solid;
  }

  .headerNavList{
    width: 50%;
    margin-bottom: 15px;
    border-bottom: 3px #f2f2f2 solid;
  }
  
  .headerNavSignUp{
    width: 30%;
    margin: 30px 0;
  }

  .headerNavList:hover, .headerNavSignUp:hover{
    border-top: 3px transparent solid;;
    border-bottom: 3px #0065FC solid;
    color: #0065FC;
  }
}

/* #endregion */

/* #region MAIN */
.main{
  max-width: 100%;
  margin: 50px;
}
/* #endregion */

/* #region MAIN RESPONSIVE */
@media all and (max-width: 767px)
{
  .main{
    width: 768px;
    margin: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px)
{
  .main{
    margin: 0;
    min-width: 768px;
    max-width: 992px;
    width: 100%;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px){
  .main{
  margin: 15px;
  min-width: 992px;
  max-width: 1200px;
  }
}
/* #endregion */

/* #region SEARCH */
.searchTitle{
  margin-bottom: 5px;
}

.searchText{
  margin-top: 0;
}

.searchMapIcone{
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  padding: 14px 15px;
  text-align: center;
}

.searchArea{
  font-weight: 700;
  padding: 16px 0 13.5px 10px;
  border: none;
  border-top: 1px solid #f2f2f2 ;
  border-bottom: 1px solid #f2f2f2 ;
}

input[type="search"]:focus{
  outline: none;
}

.searchButton{
  font-weight: 800;
  border: 2px solid #0065FC;
  color: white;
  background-color: #0065FC;
  padding: 12.5px 18px 11.5px 18px;
  margin-left: -5px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.searchButtonIcone{
  display: none;
  font-weight: 800;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #0065FC;
    color: white;
    background-color: #0065FC;
    padding: 16px 18px 13.5px 18px;
    margin-left: -40px;
    cursor: pointer;
}

.fa-map-marker-alt{
  margin-left: 5px;
}
 ::placeholder{
  color: black;
  font-weight: 800;
 }

 .filters{
  flex-direction: row;
  align-items: center;
  margin: 15px 0 15px 0;
 }

.searchFilters{
  font-weight: 700;
}

.searchFiltersTitle{
  margin-right: 10px;
  align-items: center;
  height: 50px;
  font-weight: 800;
  font-size: 1.5em;
}

.searchFilterFilters{
  padding-right: 10px;
  margin-left: 15px;
  border: 2px solid #eaeaea;
  border-radius: 30px;
  align-items: center;
  height: 45px;
  cursor: pointer;
}

.searchFilterFilters:hover{
  color: #0065FC;
  transform: scale(1.1);
  transition: transform 150ms;
}

.searchFiltersIcone{
  padding: 15px;
  margin: -5px;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: auto;
  width: auto;
}

.searchFiltersName{
  padding: 0 10px;
}

.searchFiltersFiltersIcone2{
  padding: 0 5px;
}

.searchFiltersFiltersIcone3{
  padding: 0 3px;
}

.searchResult{
  align-items: center;
}

.searchResultInfoIcone{
  padding: 6px 12px;
}

.searchResultIcone{
  align-items: center;
  border: solid 1px silver;
  border-radius: 100%;
  color: #0065fc;
}

.searchResultText{
  margin-left: 10px;
}
/* #endregion */

/* #region SEARCH RESPONSIVE */
@media all and (max-width: 767px)
{
  .searchBar{
    justify-content: center;
    margin: 30px auto 30px  auto;
    width: 90%;
  }
        
  .searchArea{
    width: 275px;
  }
  
  .searchButton{
    display: none;
  }

  .searchButtonIcone{
    display: block;
  }
  
   .filters{
    flex-direction: column;
    align-items: flex-start;
   }

  .searchFilters{
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-size: 0.95em;
  }
  
  .searchFiltersTitle{
    margin: 0 0 0 20px;
  }
  
  .searchFilterFilters{
    padding-right: 0;
    margin-bottom: 5px;
  }

  .searchFilterFilters:hover{
    color: black;
    font-size: 1em;
    transition: none;
    transform: none;
  }

  .searchResult{
    margin: 0;
    padding: 0 15px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
  .searchBar{
    justify-content: flex-start;
    margin-left: 15px;
  }

  .searchButton{
    border: 1px solid #0065FC;
    padding: 16px 0 13.5px 0;
    display: block;
  }

  .filters{
    margin-left: 15px;
   }
  
  .searchButtonIcone{
    display: none;
  }

  .searchFilters{
    align-items: flex-start;
  }
  
  .searchFiltersTitle{
    margin: 30px 0;
  }

  .searchFilterFilters{
    font-size: .8em;
  }

  .searchFilterFilters:hover{
    color: black;
    font-size: .8em;
    transition: none;
    transform: none;
  }

  .searchResult{
    margin-left: 15px;
  }
}

@media all and (max-width: 992px){
  .searchTitle{
    margin-left: 15px;
    font-size: 1.8em;
  }

  .searchText{
    margin: 20px 0 0 15px;
  }
}
/* #endregion */

/* #region ACCOMODATIONS */
.accomodations{
  flex-direction: row;
  font-size: 1.25em;
}

.accomodation{
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 20px;
  width: 75%;
  margin: 10px;
  margin-right: 15px;
}

.accomodationCards{
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px; 
}

.accomodationCard{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 10px silver;
  padding: 10px;
  height: 250px;
  width: 30%;
}

.accomodationCardImg{
  max-height: 60%;
  width: 100%;
  height: 100%;
}

.accomodationCardDescription{
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  height: 40%;
}

.accomodationCard1, .accomodationCard2, .accomodationCard3{
 margin-bottom: 30px;
}

.accomodationCard img{
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
}

.accomodationName, .accomodationPrice, .accomodationMore{
  margin: 0;
}

.accomodationMore{
  margin-top: 75px;
}

.accomodationRatingStarsEnabled{
  color: #0065FC;
}

.accomodationRatingStarsDisabled{
  color: #d9d9d9;
}

/* #endregion */

/* #region ACCOMODATIONS RESPONSIVE*/
@media all and (max-width: 767px)
{
  .accomodations{
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }
  
  .accomodation{
    background-color: white;
    border-radius: 230px;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-right: 0;
  }
  
  .accomodationCards{
    flex-direction: row;
  }

  .accomodationCard1, .accomodationCard2, .accomodationCard3 {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 991px){
  .accomodationTown{
    margin: 25px;
    margin-top: 50px;
  }

  .accomodationCard{
    margin: 20px;
    width: 100%;
  }
}

@media all and (max-width: 1199px){
  .accomodationMore{
    margin: 30px;
    margin-bottom: 50px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px)
{
  .accomodations{
    flex-direction: column-reverse;
    max-width: 992px;
  }
  
  .accomodation{
    background-color: white;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-right: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px)
{
  .accomodations{
    flex-direction: column-reverse;
    min-width: 992px;
    max-width: 1200px;
  }
  
  .accomodation{
    background-color: white;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .accomodationCards{
    justify-content: space-around;
  }
  
  .accomodationCard{
    width: 45%;
  }
      
  .accomodationName, .accomodationPrice{
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px)
{
  .accomodationCardDescription{
    font-size: .7em;
  }
}

@media all and (min-width: 1400px) and (max-width: 1600px)
{
  .accomodationCardDescription{
    font-size: .9em;
  }
}
/* #endregion*/

/* #region MOST POPULAR */

.mostPopular{
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 30px;
  width: 30%;
  margin: 10px;
  margin-left: 15px;
}

.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.height100{
  height: 100%;
}

.fa-chart-line{
  float: right;
}

.mostPopularName{
  margin-left: 0;
}

.mostPopularTitle{
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.mostPopularCards{
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px;
}

.mostPopularCard{
  padding: 10px;
  margin: 20px;
  height: 175px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 10px silver;
}

.mostPopularImg{
  width: 35%;
}

.mostPopularCard img{
  width: 100%;
  border-radius: 30px 0 0 30px;
  object-fit: cover;
}

.mostPopularCardDescription{
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  padding-left: 15px;
}

/* #endregion */

/* #region MOST POPULAR RESPONSIVE */ 
@media all and (max-width: 767px)
{
  .mostPopularTitle{
    margin: 20px;
    font-size: 1.2em;
  }
  
  .mostPopularCardDescription{
    font-size: 0.8em;
  }
}

@media all and (max-width: 991px){
  .mostPopular{
    border-radius: 0;
    padding: 0;
    width: 100%;
    margin: 0;

  }
}

@media all and (min-width: 992px) and (max-width: 1199px)
{
  .mostPopular{
    padding: 0;
    width: 100%;
    margin: 0;;
  }
    
  .mostPopularCards{
    border-radius: 20px;
  }
}

@media all and (max-width: 1199px){
  .mostPopularCard3{
    margin-bottom: 30px;
  }
 
  .mostPopularTitle{
    margin: 20px;
    padding: 20px 20px 0 0;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px)
{
  .mostPopularCardDescription {
    justify-content: space-around;
    font-size: 0.7em;
  }
}

@media all and (min-width: 1401px) and (max-width: 1600px)
{
  .mostPopularCardDescription {
    justify-content: space-around;
    font-size: .9em;
  }
}
/* #endregion */ 

/* #region ACTIVITIES */
.activitySectionTitle{
  margin-left: 40px;
}

.activityCards{
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.activityCardColumn{
  flex-direction: column;
  height: 600px;
  margin: 20px;
  width: 100%;
}

.activityCardColumn:nth-child(even){
  justify-content: space-between;
}

.activityCard{
  border-radius: 20px;    
  box-shadow: 0 0 10px silver;
  width: 100%;
}

.activityCardContent img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activityCardDescription{
  max-height: 15%;
  height: 100%;
  margin: 20px;
  font-size: 1.4em;
}

.activityLongCard{
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.activityShortCard .activityCardContent, .activityMediumCard .activityCardContent, .activityLongCard .activityCardContent{
  height: 100%;
}

.activityLongCard .activityCardContent{
  max-height: 90%;
}

.activityMediumCard{
  flex-direction: column;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.activityMediumCard .activityCardContent{
  max-height: 80%;
}

.activityShortCard{
  flex-direction: column;
  height: 35%;
  width: 100%;
  justify-content: center;
}

.activityShortCard .activityCardContent{
  max-height: 71.5%;
}
/* #endregion */

/* #region ACTIVITIES RESPONSIVE */
@media all and (max-width: 1199px)
{
  .activitySectionTitle{
    margin-left: 15px;
  }

  .activityCards{
    flex-direction: column;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .activityCardColumn, .activityCardColumn:nth-child(even){
    margin: 0;
    height: auto;
  }

  .activityCard{
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .activityCardContent img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .activityCardDescription{
    max-height: 15%;
    height: 100%;
    margin: 20px;
    font-size: 1.1em;
    font-weight: 800;
    align-items: center;
  }

  .activityLongCard{
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
  }
  
  .activityShortCard .activityCardContent, .activityMediumCard .activityCardContent, .activityLongCard .activityCardContent{
    max-height: 70%;
  }
  
  .activityMediumCard{
    height: 200px;
    width: 100%;
  }
  
  .activityShortCard{
    height: 200px;
    width: 100%;
  }
}
 
@media all and (min-width: 1200px) and (max-width: 1599px)
{
  .activityCardDescription{
    font-size: 1em;
    font-weight: 800;
  }
}

@media all and (min-width: 1600px)
{
  .activityCardDescription{
    font-size: 1.2em;
    font-weight: 800;
  }
}
/* #endregion */

/* #region FOOTER */
.footer{
  background-color: #f2f2f2;
  font-size: 1.25em;
}

.footerContent{
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 50px;
}

.footerContentColumn{
  margin: 15px;
  width: 33%;
}

footer h3{
 margin-bottom: 20px;
}

footer li, h3{
  margin: 10px;
}
/* #endregion */

/* #region FOOTER RESPONSIVE */
@media all and (max-width: 767px)
{
  .footerContent{
    flex-wrap: wrap;
  }
  
  .footerContentColumn{
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 992px)
{
  .footerContent{
    font-size: 0.8em;
  }
}

@media all and (max-width: 1200px){
  .footerContent{
    padding: 0 5px;
  }
}
/* #endregion */